$mobileBreak: 480px;
$tabletBreak: 760px;
//$largeBreak: 1280px;
$bodyBg: #1F1F1F;
$selectBg: #222;
$selectColor: #A9A9A9;
$headerText: rgb(0,148,148);
$menuBorder: rgba(0,148,148,0.2);
$menuText: rgba(0,148,148,1);
$modalBg: rgba(0,0,0,0.85);

@font-face {
	font-family: Open-Sans;
	src: url('./font/openSans.ttf');
}

@font-face {
	font-family: OpenSansLight;
	src: url('./font/openSansLight.ttf');
}

@font-face {
	font-family: Cabin-Bold;
	src: url('./font/Cabin-Bold.ttf');
}

body {
	background-color: $bodyBg;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	padding: 10px 40px;
	font-family: Open-Sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
	color: $headerText;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	padding: 20px 5px;
	.namespace, .menuspace {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 .text, h3 .text {
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
		h3 {
			margin-top: -20px;
		}
	}
	.namespace {
		text-align: right;
		margin-bottom: 10px;
		flex-basis: 50%;
		font-family: Open-Sans, Helvetica, Arial, sans-serif;
		.h2 {
			font-size: 30px;
		}
		.h3 {
			opacity: 0.5;
			font-size: 25px;
		}
	}

	.menu {
		color: $menuText;
		display: flex;
		justify-content: space-between;
		margin: 15px 0 5px;
/*
		border-top: 1px solid $menuBorder;
		border-bottom: 1px solid $menuBorder;
*/
		flex-basis: 60%;
		h4 {
			font-weight: 600;
			cursor: pointer;
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}

}

.subheader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	border-top: 1px solid $menuBorder;
	select {
		border: none;
		border-bottom: 1px solid $menuBorder;
		border-top: 1px solid $menuBorder;
		border-radius: 1px;
		color: $selectColor;
		background-color: $bodyBg;
		margin: 0 auto 10px;
		max-width: 100%;
		height: 30px;
	}
}
	
.portfolio {
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.gallery, .coverGallery {
	margin-top: 10px;
}

.photo {
	width: 100%;
	max-width: 100%;	
	max-height: 100vw;
	margin: 0 auto 10px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 2px;
	.innerImg {
		max-width: 120%;
		max-height: 120vw;
		
	}

}

.coverGalleryHeader, .galleryHeader {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #BBB;
	opacity: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	font-family: Open-Sans, Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 18px;
	display: none;
}

.coverTitle {
	position: absolute;
	max-width: 80vw;
	text-transform: uppercase;
	margin: 10px 5px;
	visibility: hidden;
}


.about, .contact {
	position: fixed;
	top: 140px;
	left: 5%;
	height: 70%;
	width: 90%;
	overflow: scroll;
	background-color: #222;
	border: 5px solid rgba(255,255,255,0.1);
	.closeBox {
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		text-align: center;
		border: 1px solid rgba(255,255,255,0.3);
		color: rgba(255,40,115,0.8);
		height: 36px;
		width: 36px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.closeIcon {
		font-size: 30px;
	}
	p {
		font-size: 18px;
		width: 90%;
		margin-left: 5%;
		margin-top: 40px;
		font-family: Open-Sans;
	}
}

@media (min-width: $mobileBreak) {
	.header {
		flex-direction: row;
		.namespace {
			text-align: left;
			margin-bottom: 0px;
			h3 {
				margin-top: -18px;
				font-size: 30px;
			}
		}
		.menuspace {
			flex-basis: 50%;
			padding-left: 0px;
		}
	}
	.subheader {
		select {
			width: 300px;
			margin-left: calc(100% - 300px);
			height: 30px;
		}
	}
	
	.coverTitle {
		max-width: 40%;
		width: 40%;
	}
	.photo {
		width: 49%;
		max-width: 49%;
		max-height: calc(49vw - 20px);
		margin: 0 auto 20px;
		&:nth-child(even) {
			margin-left: 1%;
		}
		.innerImg {
			max-height: 180%;
			max-width: 180%;
		}
	
		
	}
	.about, .contact {
		left: 3%;
		width: 94%;
	}

}

@media (min-width: $tabletBreak) {
	.photo {
		width: 29vw;
		max-width: 29vw;
		max-height: calc(29vw - 20px);
		margin: 0 0 20px;
		.innerImg {
			max-height: 180%;
			max-width: 150%;
		}
		&:nth-child(even) {
			margin-left: 0;
		}

	}

}
